@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-rotator-text {
  transition: opacity 0.6s cubic-bezier(0.4,0,0.2,1);
}

@keyframes slideup-fade {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-slideup-fade {
  animation: slideup-fade 0.8s cubic-bezier(0.4,0,0.2,1) both, slideup-fade 7s linear forwards;
}

:root {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}
